    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body,
    div,
    img {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
    body {
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
        color: rgb(247, 234, 234);
        line-height: 1.6;
        background-color: darkgrey;
    }
    
    .logo {
        width: 50px;
        height: 70px;
        float: left;
    }
    
    div.myDivElement {
        text-align: center;
        background-color: transparent;
    }
    
    div.myDivElement ul li {
        display: inline;
        color: white;
        padding: 10px;
    }
    
    div.myDivElement ul li:hover {
        display: inline;
        color: white;
        border: blanchedalmond 1px solid;
        border-radius: 15px;
    }
    
    #showcase {
        background-image: url('https://images.pexels.com/photos/2752777/pexels-photo-2752777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
        background-size: cover;
        background-position: center;
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: baseline;
        padding: 0 20px;
        position: relative;
    }
    
    #showcase .blur {
        background: rgba(133, 33, 33, 0.2);
        backdrop-filter: blur(22px);
        height: 100vh;
        width: 50;
    }
    
    #showcase h1 {
        font-size: 36px;
        line-height: 1;
    }
    
    #showcase p {
        font-size: 16px;
    }
    
    #showcase .button {
        font-size: 14px;
        text-decoration: none;
        color: rgb(10, 10, 10);
        border: whitesmoke 1px solid;
        border-radius: 10px;
        margin-top: 20px;
    }
    
    #showcase .button-b {
        font-size: 14px;
        text-decoration: none;
        color: whitesmoke;
        border: whitesmoke 1px solid;
        border-radius: 10px;
        margin-top: 20px;
    }
    
    #showcase .button:hover {
        background-color: black;
        color: whitesmoke;
    }
    
    #showcase .button-b:hover {
        background-color: black;
        color: whitesmoke;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }
    
    .container.item {
        margin: 5px;
    }
    
    .container img {
        width: 320px;
        height: 240px;
    }
    
    .item {
        margin: 5px;
    }
    
    .container-2 img {
        width: 320px;
        height: 240px;
    }